@tailwind base;
@tailwind components;
@tailwind utilities;

/* Enable text selection for collapsible headers */
.select-text {
	-webkit-user-select: text !important;
	-moz-user-select: text !important;
	-ms-user-select: text !important;
	user-select: text !important;
	cursor: text;
}
